@use "../helpers/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @include mediaQuery(small) {
    width: 750px;
  }
  @include mediaQuery(medium) {
    width: 970px;
  }
  @include mediaQuery(large) {
    width: 1170px;
  }
}

.main-heading {
  text-align: center;
  h2 {
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
  }
}
